html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
}
